.env
.DS_Store
*.log
__pycache__/
*.py[cod]

node_modules/
venv/
.venv/

ai-engine/venv/
ai-engine/saved_models/
ai-engine/uploads/

backend/server/uploads/*.csv
backend/server/uploads/*.txt

frontend/dist/
